.App {
  text-align: center;
  overflow: auto;
  
}

/* #menu{
  position:fixed;
  left:50%;
} */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
line {
  animation: dash 50s linear;
}
@keyframes dash {
  to {
    stroke-dashoffset: 1000;
  }
}


#animation-path {

  stroke:red;
  stroke-dasharray: 1300;
  stroke-dashoffset: 1300;
  animation: dash 7s linear forwards;
  animation-iteration-count: infinite;
}
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
.highlight-circle{
  stroke :red;
  stroke-width: 2px;
}

/* [id^="svg"]{
  display: inline;
} */
td{
  width: 1500px;
}
tr{
  overflow: auto;
}
svg{
  width: 1300px;
}